
 /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar{
      margin-bottom: 0;
      border-radius: 0 !important;
	  background-color:#80ffff;
	  border-bottom: 2px solid;
	  border-top: 0;
	}  
	 .navbar a{
	  color:#000000 !important;
	 }
	 
	 .navbar p{
	  color:#000000 !important;
	 }
    
	.navbar a:hover{
	  color:#ffffff !important;
	 }
	 
	.navbar a:visited{
	  color:yellow !important;
	 } 
	
	.navbar-brand {
	font-size: 2em;
	padding-right: 45px;
	text-decoration: bold;
	}




